@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')

// @font-face
//   font-style: normal
//   font-family: "Meslo LG"
//   src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Noto Serif TC"
  font-weight: 400
  src: local("Noto Serif TC"),
       url("../lib/noto-serif-tc/NotoSerifTC-Regular.otf") format('opentype')

@font-face
  font-style: normal
  font-family: "Noto Serif TC"
  font-weight: 700
  src: local("Noto Serif TC"),
       url("../lib/noto-serif-tc/NotoSerifTC-Bold.otf") format('opentype')